@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root{
    --background: #021526;
    --highlight: #03346E;
    --text: #E2E2B6;
    --light: #6EACDA;


}

body{
    background-color: var(--background);
    color: var(--text);
}

h1{
    font-family: MuseoModerno;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:120px;
    max-width: 500px;
    margin: 120px auto 0 auto;
}

.status{
    padding: 30px;
    border-radius:20px;
    border: 2px solid var(--light);
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
}


input{
    flex: 1;
    padding: 16px;
    background-color: var(--highlight);
    border-radius: 10px;
    border: 1px solid var(--light);
    color: var(--text);
    outline: none;
}

.input{
  margin: 10% 8%;
  display: flex;
  gap:25px;
  min-width: 380px;
}

.checkbox{
  padding: 0;
  margin: 0;
}

button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: var(--light);
    color: var(--background);
    font-size: 30px;
    font-weight: bold;
    outline: none;
}

ul li{
  display: flex;
  background-color: var(--highlight);
  padding:10px;
  border-radius: 10px;
  justify-content: space-between;
  border: 1px solid var(--light);
  align-items: center;
  min-width: 400px;
}

.tsk{
    display: flex;
    align-items: center;
    gap: 10px;

}

img{
  width: 25px;
  cursor: pointer;
}

.icons{
  display: flex;
  gap: 5px;
  padding: 0 5px;
}

.task{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    list-style: none;
}
 @media(max-width:480px){
    .container{
        width: 95%;
    }
    .container p{
        font-size: 14px;
    }
    h1{
        font-size: 1.2em;
    }
    #ip{
        margin: 0;
        max-width: 52%;
    }
    .input{
        margin: 5%  10%;
        display: flex;
        justify-content: space-around;
        gap: 0;
      }
    button{
        font-size: 20px;

    }
    .status{
        gap: 25px;
        max-width: 80%;
    }
    .tsk{
        margin-bottom: 2%;
        gap:5px;
    }
    .task{
        margin-top: 2%;
        gap:5px;
    }
    .taskitems img{
        width: 22px;
        height: 22px;
    }
    ul li{
        min-width: 250px;
    }
 }